<app-title title="Defer Options"/>

<section>
  <h1 class="text-xl">Interacciones</h1>
  <hr class="my-2">

  @defer(on interaction){
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20 grid place-content-center">
      <span class="text-white font-bold">On Interaction</span>
    </app-heavy-loaders-fast>
  } @placeholder {
    <div class="w-full h-20 bg-purple-200">
      Click en el div
    </div>
  }
</section>

<section>
  <h1 class="text-xl">Interacciones</h1>
  <hr class="my-2">

  <button
    #btnInteraction
    class="px-4 py-2 my-4 text-white rounded-full bg-blue-500 hover:bg-blue-600">
    Click me
  </button>

  @defer( on interaction(btnInteraction) ){
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20 grid place-content-center">
      <span class="text-white font-bold">On Interaction</span>
    </app-heavy-loaders-fast>
  } @placeholder {
    <div class="w-full h-20 bg-purple-200">
      Click en el div
    </div>
  }
</section>

<section>
  <h1 class="text-xl">Interacciones</h1>
  <hr class="my-2">

  <!-- @defer( on hover(btnInteraction) ){ -->
  @defer( on hover ){
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20 grid place-content-center">
      <span class="text-white font-bold">On Hover</span>
    </app-heavy-loaders-fast>
  } @placeholder {
    <div class="w-full h-20 bg-purple-200">
      Click en el div
    </div>
  }
</section>


<section>
  <h1 class="text-xl">Interacciones</h1>
  <hr class="my-2">

  @defer( on immediate ){
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20 grid place-content-center">
      <span class="text-white font-bold">On Immediate</span>
    </app-heavy-loaders-fast>
  } @placeholder {
    <div class="w-full h-20 bg-purple-200">
      Click en el div
    </div>
  }
</section>

<section>
  <h1 class="text-xl">Interacciones</h1>
  <hr class="my-2">

  @defer( on timer( 2000 ) ){
    <app-heavy-loaders-fast cssClass="bg-green-500 h-20 grid place-content-center">
      <span class="text-white font-bold">On Timer</span>
    </app-heavy-loaders-fast>
  } @placeholder {
    <div class="w-full h-20 bg-purple-200">
      2 Segundos
    </div>
  }
</section>


<section>
  <h1 class="text-xl">Interacciones</h1>
  <hr class="my-2">

  @defer( on hover; prefetch on idle ){
    <app-heavy-loaders-fast cssClass="bg-green-500 h-20 grid place-content-center">
      <span class="text-white font-bold">On Hover, On Idle</span>
    </app-heavy-loaders-fast>
  } @placeholder {
    <div class="w-full h-20 bg-purple-200">
      2 Segundos
    </div>
  }
</section>
